<!-- <div class="col-md-3 col-xs-12">
    <div class="weather-container">
        <h2 data-bind="text: destionationName()"></h2>
        <h1 data-bind="text: temperature() + ' °C '"></h1>
        <i class="fa fa-sun-o fa-3x" aria-hidden="true"></i>
        <ul>
            <li><span data-bind="text: 'Max: ' + maxTemp() + ' °C'"></span></li>
            <li><span data-bind="text: 'Min: ' + minTemp() + ' °C'"></span></li>
            <li>Wind<span data-bind="text: ': ' + wind() + ' m/s'"></span></li>
        </ul>

        <!-- ko if: drawChart -->
        <!-- /ko -->
<!-- 
    </div>
</div> --> 

hejhejhejhej