ansicolors==1.0.2
configparser==3.5.0
dj-database-url==0.4.0
Django==1.9.2
django-gulp==2.4.1
djangorestframework==3.4.0
env-tools==2.0.0
futures==3.0.5
gunicorn==19.4.5
psutil==4.1.0
psycopg2==2.6.1
requests==2.10.0
simplejson==3.8.2
six==1.10.0
tini==3.0.1
whitenoise==2.0.6
