.shoppinglist-container {
	margin-top: 20px;
	padding: 10px;
	border-radius: 7px;
	background-color: #555555;
	box-shadow: 0px 2px 2px 0px #777777;
	color: #fff;
}
.list-group-container {
	position: relative;
	top: 15px;
}

.listeItem-delete {
	float: right;
	width: 100px;
	color: #000;
	text-align: right;
}

.list-group-text {
    display: inline-block;
	width: 60%;
}

.list-group-item {
	background-color: #e6e6e6;
	cursor: pointer;
}

.list-group-item:nth-child(2n+1) {
	background-color: #f2f2f2;
}

.list-group-item:hover {
	background-color: #d7d7d7;
}

.list-group-item-done {
	text-decoration: line-through;	
}
.loading-spinner {
    position: relative;
    right: 33%;
    left: 33%;
}

.list-counter {
	text-align: center;
}

