.countdown {
  position: relative;
  height: 10.5rem; }

.countdown-container {
  margin-top: 20px; }

.countdown-close {
  z-index: 1;
  right: 0;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  color: #FFFFFF;
  text-align: center;
  border-radius: 1.5rem;
  position: absolute;
  cursor: pointer; }

.countdown-close:hover {
  background-color: rgba(255, 255, 255, 0.2); }

.countdown-row {
  position: absolute;
  width: 100%;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem; }

h1 {
  font-size: 60px; }

.circle {
  float: right;
  margin-right: 0.5rem; }

.countdown-dropdown-buttom {
  width: 100%;
  text-align: left; }

.countdown-dropdown-list {
  width: 100%; }

.countdown-create {
  margin-top: 1rem; }

.countdown-left {
  display: inline-block; }

.countdown-right {
  display: inline-block;
  position: absolute;
  top: 2rem;
  margin-left: 1rem;
  font-size: 1.4rem;
  word-break: break-word;
  color: #FFFFFF; }

.countdown-datetime {
  font-size: 1rem;
  display: block; }

.countdown-add-toggler {
  text-align: center;
  background-color: #CCCCCC;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  color: #666666; }

.countdown-add-toggler:hover {
  background-color: #a29d9d;
  color: #666666; }

.countdown-add-toggler-container {
  padding: 0.5rem;
  background-color: #CCCCCC;
  border-radius: 0.5rem;
  margin-bottom: 10rem;
  font-size: 1.2rem; }

.shoppinglist-container {
  background-color: #555555;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px #777777;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase; }

.list-group-container {
  position: relative;
  top: 15px; }

.listeItem-delete {
  float: right;
  width: 100px;
  text-align: right;
  color: #000; }

.list-group-text {
  width: 60%;
  display: inline-block; }

.list-group-item {
  cursor: pointer;
  background-color: #e6e6e6; }

.list-group-item:nth-child(2n+1) {
  background-color: #f2f2f2; }

.list-group-item:hover {
  background-color: #d7d7d7; }

.list-group-item-done {
  text-decoration: line-through; }

.loading-spinner {
  position: relative;
  left: 33%;
  right: 33%; }

.list-counter {
  text-align: center; }

.shoppinglist-close {
  position: relative;
  z-index: 1;
  float: right;
  height: 30px;
  width: 30px;
  background-color: #fff;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 0 1px #ccc;
  line-height: 30px;
  cursor: pointer; }

.shoppinglist-close .buttom {
  color: #555555; }

.shoppinglist-add-toggler {
  text-align: center;
  background-color: #CCCCCC;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  color: #666666; }

.shoppinglist-add-toggler:hover {
  background-color: #a29d9d;
  color: #CCCCCC; }

.shoppinglist-menu-button {
  float: right; }

.shoppinglist-create {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #CCCCCC;
  color: #666666;
  z-index: 3;
  position: relative; }

.shoppinglist-create h3 {
  text-transform: uppercase; }

.shoppinglist-menu {
  position: absolute;
  right: -115px;
  color: #000;
  background-color: #fff;
  z-index: 3;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  cursor: pointer; }

.shoppinglist-menu a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 5px 15px 5px 15px; }

.shoppinglist-menu a:hover {
  background-color: #ccc; }

.coverPage {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  opacity: 0.7; }

.renameChecklist {
  position: relative;
  margin-right: 40px;
  z-index: 2; }

@media screen and (max-width: 480px) {
  .shoppinglist-menu {
    position: absolute;
    right: 15px; } }

.weather-container {
  background-color: #F08080;
  color: #fff;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
  padding-bottom: 3rem;
  border-radius: 0.7rem;
  box-shadow: 0px 2px 2px 0px #777777; }

.weather-container ul {
  list-style: none;
  margin-left: -4rem;
  margin-top: 3rem; }

body {
  background-color: #DDDDDD; }

input[type='text'], input[type='number'], input[type='datetime'], input[type='password'], textarea {
  font-size: 1.6rem; }

.blue {
  background-color: #0288D1;
  color: #01579B;
  box-shadow: 0px 2px 2px 0px #01579B; }

.blue .countdown-left {
  text-shadow: 1px 1px #01579B; }

.orange {
  color: #E65100;
  background-color: #F57C00;
  box-shadow: 0px 2px 2px 0px #E65100; }

.orange .countdown-left {
  text-shadow: 1px 1px #E65100; }

.green {
  color: #388E3C;
  background-color: #4CAF50;
  box-shadow: 0px 2px 2px 0px #388E3C; }

.green .countdown-left {
  text-shadow: 1px 1px #388E3C; }

.red {
  color: #FFFFFF;
  background-color: #D32F2F;
  box-shadow: 0px 2px 2px 0px #901F1F; }

.red .countdown-left {
  text-shadow: 1px 1px #901F1F; }

.teal {
  color: #B2DFDB;
  background-color: #00796B;
  box-shadow: 0px 2px 2px 0px #B2DFDB; }

.teal .countdown-left {
  text-shadow: 1px 1px #B2DFDB; }

.green-dropdown {
  color: #4CAF50; }

.orange-dropdown {
  color: #F57C00; }

.red-dropdown {
  color: #D32F2F; }

.teal-dropdown {
  color: #00796B; }

.blue-dropdown {
  color: #0288D1; }

.login-background {
  position: absolute;
  background-color: #373447;
  background-size: cover;
  color: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-weight: bold; }

.login-box {
  position: fixed;
  top: 20%;
  left: 3px;
  right: 10px; }

.login-text {
  text-align: center;
  margin-bottom: 3rem; }

.login-text h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: lowercase; }

.login-text h3 {
  text-transform: uppercase; }

.login-container {
  margin-bottom: 10px;
  width: 100%;
  color: #54C8FF; }

.login-control {
  color: #fff;
  border-radius: 0px;
  background: transparent;
  background-image: none;
  border: none;
  border-bottom: 3px solid #fff;
  box-shadow: none;
  margin-bottom: 20px; }

.login-button {
  width: 100%; }

.login-help {
  margin-top: 10px;
  cursor: pointer; }

.login-control:focus {
  box-shadow: none; }

.container-fluid {
  margin-top: 4rem; }

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  margin-bottom: 20px;
  height: 4.5rem;
  line-height: 4.5rem;
  padding-left: 1rem;
  background-color: #FFFFFF;
  color: #000;
  box-shadow: 0px 2px 2px 0px #777777;
  z-index: 4; }

.left-menu {
  display: inline-block; }

.sign-out {
  display: inline-block;
  float: right;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer; }
