<div class="shoppinglist-add-toggler" data-bind="click: show, visible: !visible()">
    <h2>+</h2>
    <p data-bind="text: title"></p>
</div>

<div class="shoppinglist-create" data-bind="visible: visible">
	<h3 data-bind="text: title2"></h3>
	<div class="input-group">
	    <input type="text" class="form-control" placeholder="Listnamn" data-bind="value: inputValue, valueUpdate:'keypress'">
	    <span class="input-group-addon" data-bind="click: submitInput">Skapa</span>
	</div>
</div>

<div class="coverPage" data-bind="visible: visible, click: show"></div>
