<div class="checklist-container" data-bind="foreach: checklists">
	<div class="shoppinglist-container" data-bind="visible: showChecklist">
		<span class="checklist-header-container" data-bind="click: toggleList">
			<h3 class="shoppinglist-header" data-bind="text: name, visible: !showRename(), css: {'active': showList()}"></h3>
			<div class="list-counter" data-bind="visible: listItem().length > 0 && !showList()">
				<b data-bind="text: doneItem().length + '/' + listItem().length"></b>
			</div>
			<b style="float: right" data-bind="visible: showList(), click: edit">...</b>
		</span>

		<div class="checklist" data-bind="visible: showList()">
			<div class="list-group-container">
				<ul class="checklist-list" id="myShoppingList" data-bind="foreach: listItem()">
					<li class="checklist-item-container" data-bind="visible: showItem">
						<div class="list-group-text" data-bind="click: markItemAsDone, style: { color: (done? '#009688' : '#000')}">
							<i class="fa fa-lg" data-bind="css: {'fa-square-o' : !done, 'fa-check-square-o': done}"></i>
						</div>
						<span class="checklist-item-text" data-bind="text: name, css:{'list-group-item-done':done}"></span>
						<div class="listeItem-delete" data-bind="click: deleteItem">
							<i class="fa fa-times"></i>
						</dib>
					</li>
				</ul>
				</div>
				<div class="checklist-input-container">
					<input type="text" class="form-control checklist-input" placeholder="Lägg till något?" data-bind="value:shopplinglistInput, valueUpdate:'keypress'"></input>
					<span class="checklist-input-create" data-bind="click:create">
						<i class="fa fa-paper-plane"></i>
					</span>
				</div>
				<b class="checklist-item-counter-bottom" data-bind="text: doneItem().length + '/' + listItem().length"></b>
			</div>
		</div>
		<!-- ko if: editChecklist() -->
		<div class="checklist-edit">
				<span class="checklist-edit-close" data-bind="click: close">X</span>
				<div class="checklist-edit-container">
					<!-- ko if: saveSuccess -->
					<span class="save-status" data-bind="text: 'Sparad och klar' "></span>
					<!-- /ko -->
					<h3 data-bind="text: 'Redigera'"></h3>
					<label for="checklist-name"></label>
					<input type="text" id="checklist-name" class="checklist-edit-input" data-bind="value: name">
					<label for="checklist-shared"></label>
					<input type="text" id="checklist-shared" class="checklist-edit-input" data-bind="value: shared">
					<button class="btn btn-save" data-bind="click: update">Spara</button>
					<button class="btn btn-delete" data-bind="click: remove">Ta bort</button>
				</div>
			</div>
		<!-- /ko -->
	</div>
	<div>
	<add-more params="
		title:'Lägg till en lista',
		title2: 'Skapa en lista',
		show: addNewChecklist,
		inputValue: checklistName,
		submitInput: createChecklist,
		visible: addList
	"></add-more>
</div>