<div class="edit-user-container">
	<div class="edit-user">
		<!-- ko if: status() -->
		<span class="save-status" data-bind="text: statusText "></span>
		<!-- /ko -->

		<!-- <div class="edit-user-icon"></div>
		<button class="btn btn-upload">Ladda upp en bild</button> -->
		<div class="edit-user-badge"><span data-bind="text: user.initials"></span></div>
		<ul class="edit-user-attribute-list">
			<li class="edit-user-attribute">
				<label class="edit-user-label" for="user-name">Användarnamn</label>
				<input type="text" id="user-name" class="edit-user-input" data-bind=" value: user.username">
			</li>
			<li class="edit-user-attribute">
				<label class="edit-user-label" for="user-firstname">Förnamn</label>
				<input type="text" id="user-firstname" class="edit-user-input" data-bind=" value: user.firstname">
			</li>
			<li class="edit-user-attribute">
				<label class="edit-user-label" for="user-lastname">Efternamn</label>
				<input type="text" id="user-lastname" class="edit-user-input" data-bind=" value: user.lastname">
			</li>
			<li class="edit-user-attribute">
				<label class="edit-user-label" for="user-email">Email</label>
				<input type="text" id="user-email" class="edit-user-input" data-bind=" value: user.email">
			</li>
		</ul>
		<button class="btn btn-save" data-bind="click: save">Uppdatera</button>
	</div>
</div>