
<div class="login-background" data-bind="visible: !loggedIn(), enterkey: logOn">
	<div class="row">
		<div class="login-box col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 ">
			<div data-bind="visible: !resetPassword(), css: {'animated fadeIn' : !resetPassword()}">
				<div class="login-text">
					<h1 data-bind="css: { 'animated bounceOutUp' : fireAnimation }">Welcome</h1>
					<h3>Today will be great</h3>
				</div>
				<div class="ui left icon input login-container">
					<input type="text" placeholder="Username" data-bind="value: username, valueUpdate: 'keypress'">
					<i class="user icon"></i>
				</div>
				<br/>

				<div class="ui small left icon input login-container">
					<input type="password" placeholder="Password" data-bind="value: password, valueUpdate: 'keypress', enterkey: logOn">
					<i class="key icon"></i>
				</div>

				<button class="ui inverted button login-button" data-bind="click: logOn">Log in</button>
				<div class="login-help">
					<span data-bind="visible: logonFailed">Inloggnigen misslyckades. </span>
					<!-- <a class="login-forgot-password" data-bind="click: forgotPassword">Glömt lösenord?</a> -->
				</div>
			</div>

			<!-- glömt lösenord -->
			<div class="animated fadeIn" data-bind="visible: resetPassword()">
				<h3>Ajdå. Nu ska vi hjälpa!</h3>
				<div class="ui left icon input login-container">
					<input type="text" placeholder="Username">
					<i class="user icon"></i>
				</div>

				<button class="ui inverted button login-button" data-bind="click: logOn">Skicka</button>
				<a data-bind="click: forgotPassword">Tillbaka till inloggning</a>
			</div>

		</div>
	</div>
</div>