<div class="menu">
<div class="left-menu" data-bind="click: home">TSC</div>
<div class="user-container">
    <div class="user-badge" data-bind="click: toggleSubMenu">
        <span data-bind="text: userModel.initials"></span>
    </div>
</div>
<!-- <div class="sign-out" data-bind="click: signout">Logga ut</div> -->
</div>


<div class="sub-menu-container" data-bind="css: {'bigMenu': showSubMenu()}">
    <div class="sub-menu">
        <ul>
            <li data-bind="click: settings">Inställningar</li>
            <li data-bind="click: signout">Logga ut</li>
        </ul>
    </div>
</div>