<div class="recipe-menu">
	<ul class="recipe-menu-list">
		<li class="recipe-menu-list-item" data-bind="click: function(){toggleSubMenu('add')}, css: {'active': currentState() === 'add'}">Lägg till</li>
		<li class="recipe-menu-list-item" data-bind="click: function(){toggleSubMenu('favorit')}, css: {'active': currentState() === 'favorit'}">Favoriter</li>
		<li class="recipe-menu-list-item" data-bind="click: function(){toggleSubMenu('seach')}, css: {'active': currentState() === 'seach'}">Sök</li>
	</ul>
</div>
<div class="recipe-container">
	<!-- ko if: saveSuccess -->
	<span class="save-status" data-bind="text: 'Sparad och klar' "></span>
	<!-- /ko -->
	<!-- ko if: currentState() === 'add' -->
	<h3>Lägg till</h3>
	<label for="recipe-name">Namn</label>
	<input type="text" id="recipe-name" class="recipe-input" data-bind="value: name, valueUpdate: 'afterKeyDown'">
	<label for="recipe-link">Länk</label>
	<input type="text" id="recipe-link" class="recipe-input" data-bind="value: link, valueUpdate: 'afterKeyDown'">
	<div class="checkbox">
		<label>
			<input type="checkbox" data-bind="checked: vegetarian"> Vegitarisk
		</label>
	</div>

	<button class="btn btn-save" data-bind="click: create">Spara</button>
	<!-- /ko -->
	<!-- ko if: currentState() === 'favorit' -->
	<h3>Favoriter</h3>
	<!-- ko if: !loader() -->
	<ul class="recipe-list" data-bind="foreach: recipeList">
		<li class="recipe-list-item">
			<b data-bind="text: name"></b>
			<!-- ko if: vegetarian -->
			<i class="fa fa-pagelines recipe-vego" aria-hidden="true"></i>
			<!-- /ko -->
			<span class="recipe-link" data-bind="text: link"></span>
			<!-- <ul class="recipe-tag-list">
				<li class="recipe-tag">tag</li>
				<li class="recipe-tag">tag</li>
			</ul> -->
		</li>
	</ul>
	<!-- /ko -->
	<!-- ko if: loader() -->
		<div class="recipe-loader">
			<i class="loader fa fa-spinner fa-spin"></i>
			<h3>Läser in</h3>
		</div>
	<!-- /ko -->
	<!-- /ko -->
	<!-- ko if: currentState() === 'seach' -->
	<h3>Sök</h3>
	<!-- /ko -->
</div>