.login-background {
	height: 95vh;
	/*width: 100vw;*/
	background-color: #373447;
	/*background: url('../images/background.jpg');*/
	background-size: cover;
	color: #fff;
}

.login-box {
	margin-top: 200px;
}