.login-background {
	height: 95vh;
	/*width: 100vw;*/
	background-color: #373447;
	/*background: url('../images/background.jpg');*/
	background-size: cover;
	color: #fff;
}

.login-box {
	margin-top: 200px;
}

.login-control {
	color: #fff;
	border-radius: 0px;
	background: transparent;
	background-image: none;
	border:none;
	border-bottom: 3px solid #fff;
	box-shadow: none;
	margin-bottom: 20px;
}

.login-control:focus {
	box-shadow: none;
}