.shoppinglist-container {
	background-color: #555555;
	color: #fff;
	padding: 10px;
	margin-top: 20px;
	border-radius: 7px;
	box-shadow: 0px 2px 2px 0px #777777;
}
.list-group-container {
	position: relative;
	top: 15px;
}

.listeItem-delete {
	float: right;
	width: 100px;
	text-align: right;
	color: #000;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item-done {
	text-decoration: line-through;	
}
.loading-spinner {
    position: relative;
    left: 33%;
    right: 33%;
}

