$colorBlue: #2196F3;
$colorBlueDark: #01579B;
$colorTurquoise: #009688;
$colorOrangeDark: #E65100;
$colorOrange: #F57C00;
$colorGreen: #388E3C; 
$colorGreenDark: #4CAF50;
$colorWhite: #FFFFFF;
$colorRed: #D32F2F;
$colorRedDark: #901F1F;
$colorPink: #e91e63;
$colorTeal: #00796B;
$colorTealDark: #B2DFDB;
$colorGrey: #DDDDDD;
$colorGreyLight: #CCCCCC;
$colorGreyDark: #666666;
$colorPurple: #373447;
$colorBlack: #000;
$colorWhite: #fff;
