.countdown {
	position: relative;
	height: 10.5rem;
}

.countdown-container {
	margin-top:20px;
}

.countdown-close {	
    z-index: 1;
    right: 0;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;    
    color: $colorWhite;
    text-align: center;
    border-radius: 1.5rem;    
    position: absolute;    
    cursor: pointer;

    &:hover {
    	background-color: rgba(255,255,255,0.2);  
    }      
}

.countdown-row {
	position: absolute;
	width: 100%;
	padding-left: 1rem;
	padding-top: 1rem;
	padding-bottom: 3rem;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
}
h1 {
	font-size: 60px;
}

.circle {
	float: right;
	margin-right: 0.5rem;
}

.countdown-dropdown-buttom {
	width: 100%;
	text-align: left;
}

.countdown-dropdown-list {
	width: 100%
}

.countdown-create {
	margin-top: 1rem;
}

.countdown-left {
	display: inline-block;		
}
.countdown-right {
	display: inline-block;
	position: absolute;
	top: 2rem;
	margin-left: 1rem;
	font-size: 1.4rem;
	word-break: break-word;
	color: $colorWhite;	
}

.countdown-datetime {
	font-size: 1rem;
	display: block;	
}

.countdown-add-toggler {
	text-align: center; 
	background-color: $colorGreyLight;
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin-bottom: 1.5rem;
	cursor: pointer; 
	color: $colorGreyDark;

	&:hover {
		background-color: #a29d9d;
		color: $colorGreyDark;
	}
}

.countdown-add-toggler-container {
	padding: 0.5rem; 
	background-color: $colorGreyLight;
	border-radius: 0.5rem;
	margin-bottom: 10rem;
	font-size: 1.2rem;
}