.container-fluid {
	margin-top: 4rem; 
	margin-bottom: 10rem;
}

.save-status {
	border: 1px solid $colorBlue;
    padding: 1rem;
    display: block;
    color: $colorBlue;
    margin-bottom: 1em;
}

//CUSTOM BUTTONS

.btn-save {
	width: 100%;
    margin-top: 1em;
	height: 4em;
	background-color: $colorTurquoise;
	color: $colorWhite;
}

.btn-delete {
	width: 100%;
    margin-top: 1em;
    height: 4em;
    background-color: transparent;
    color: #009688;
}