.edit-user-container {
	margin-top: 2.5rem;
}

.edit-user-attribute-list {
	list-style-type: none;
	padding: 0px;
}

.edit-user-attribute {
	margin: 1rem 0rem;
}

.edit-user-label {
	display: block;
}

.edit-user-input {
	width: 100%;
    border: none;
    border-bottom: 1px solid $colorGreyDark;
	padding: 0.2rem 0rem;
	border-radius: 0px;

	&:focus {
		outline: none;
	}
}