.menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	margin-bottom: 20px;
	height: 4.5rem;
	line-height: 4.5rem;
	padding-left: 1rem;
	background-color: $colorTurquoise;
	color: $colorWhite;
	box-shadow: 0px 2px 2px 0px #777777;
	z-index: 4;
}

.left-menu {
	display: inline-block;
}
.sign-out {
	display: inline-block;
	float: right;
	height: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	cursor: pointer;

	& :active {
		
	}
}

.user-container {
}

.user-badge {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
	height: 3rem;
	width: 3rem;
	line-height: 3rem;
	border-radius: 50%;
	text-align: center;
	background-color: $colorWhite;
	color: $colorTurquoise;
	cursor: pointer;
}