.recipe-container {
	margin-top: 6em;
}

.recipe-menu {
	position: fixed;
    top: 4.5rem;
    left: 0rem;
    right: 0rem;
	background-color: $colorGreyLight;
}

.recipe-menu-list {
	list-style-type: none;
	color: $colorWhite;
	padding: 0px;
	text-align: center;
	color: black;
	margin-bottom: 0px;
}

.recipe-menu-list-item {
	position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 3.5rem;
	padding: 1em;
	width: 32.7%;

	&.active {
		color: $colorWhite;
		background-color: $colorGrey;
	}

	&.active:after {
		content: '';
		border-left: 5px solid transparent;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right: 10px solid $colorGreyLight;
		position: absolute;
		top: 50%;
		right: 0px;
		transform: translateY(-50%);
	}
}

.recipe-input {
	display: block;
	width: 100%;
	border: none;
    border-bottom: 1px solid #666666;
    padding: 0.2rem 0rem;
	border-radius: 0px;

	&:focus {
		outline: none;
	}
}

.recipe-loader {
	font-size: 2em;
	text-align: center;
}

.recipe-list {
	padding: 0rem;
	list-style-type: none;

	.recipe-list-item {
		min-height: 2.5rem;
		padding: 0.5rem;
		border: 0.1rem solid $colorGreyLight;
		/* border-left: 0.2rem solid $colorTurquoise; */
		margin: 0.5rem 0rem;
		border-radius: 0.2rem;
	}

	.recipe-vego {
		color: $colorGreen;
	}

	.recipe-link {
		display: block;
		font-size: 10px;
		color: $colorGreyDark;
	}
}

.recipe-tag-list {
	list-style-type: none;
	padding: 0rem;
	margin-top: 0.5rem;

	.recipe-tag {
		display: inline;
		display: inline;
		background-color: $colorBlue;
		padding: 0.2rem 0.5rem;
		border-radius: 1rem;
		color: $colorWhite;
	}
}

.edit-recipie-container {
	position: fixed;
    background-color: $colorWhite;
    top: 4rem;
    left: 0rem;
    right: 0rem;
    height: 100%;
}
.edit-recipie {
	position: relative;
    bottom: 1rem;
    padding-top: 1rem;
    margin-top: 3rem;
    margin-left: 1rem;
    background-color: $colorWhite;
    margin-right: 1rem;
    overflow: hidden;
}
.edit-recipie-close {
	position: absolute;
    right: 0.5em;
    top: 0em;
}