.recipe-container {
	margin-top: 6em;
}

.recipe-menu {
	position: fixed;
    top: 4.5rem;
    left: 0rem;
    right: 0rem;
	background-color: $colorGreyLight;
}

.recipe-menu-list {
	list-style-type: none;
	color: $colorWhite;
	padding: 0px;
	text-align: center;
	color: black;
	margin-bottom: 0px;
}

.recipe-menu-list-item {
	position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 3.5rem;
	padding: 1em;
	width: 32.7%;

	&.active {
		color: $colorTurquoise;
		background-color: $colorGrey;
	}

	&.active:after {
		content: '';
		border-left: 5px solid transparent;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right: 10px solid $colorGreyLight;
		position: absolute;
		top: 50%;
		right: 0px;
		transform: translateY(-50%);
	}
}

.recipe-input {
	display: block;
	width: 100%;
	border: none;
    border-bottom: 1px solid #666666;
    padding: 0.2rem 0rem;
	border-radius: 0px;

	&:focus {
		outline: none;
	}
}

.recipe-loader {
	font-size: 2em;
	text-align: center;
}